@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noe Display';
  src: url('/fonts/Noe-Display-Regular-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Gramatika';
  src: url('/fonts/Gramatika-Regular.woff2') format('woff2'), url('/fonts/Gramatika-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gramatika';
  src: url('/fonts/Gramatika-Bold.woff2') format('woff2'), url('/fonts/Gramatika-Bold.woff') format('woff');
  font-weight: bold;
}


.markdown {

  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--font-bold);
    line-height: 1.2;
    margin-block: 1em;
  }

  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  a {
    color: var(--color-gold-600);

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border: 1px solid var(--color-stone-200);
    margin-block: var(--h-12);
  }

  p+p {
    margin-top: var(--m-3);
  }
  p+ul {
    margin-top: var(--m-3);
  }

  ul {
    list-style: disc;
    padding-left: var(--p-5)
  }

  ol {
    list-style: decimal;
    padding-left: var(--p-5)
  }

  @media (max-width: 767px) {
    h1 {
      font-size: var(--text-3xl);
    }

    h2 {
      font-size: var(--text-2xl);
    }

    h3 {
      font-size: var(--text-1xl);
    }

    h4 {
      font-size: var(--text-lg);
    }

  }
}

.text-shadow {
  text-shadow: 0 5px 15px var(--tw-shadow-color, black);
}

:root {
  --fk-color-border: var(--color-stone-300) !important;
}

[data-type="checkbox"],
[data-type="button"] .formkit-input,
[data-type="submit"] .formkit-input,
[data-type="button"] .formkit-input:focus-visible,
[data-type="submit"] .formkit-input:focus-visible,
[data-type="button"] .formkit-input:focus-within,
[data-type="submit"] .formkit-input:focus-within {
  --fk-color-checked: var(--color-primary-500) !important;
  --fk-color-primary: var(--color-primary-500);
  --fk-bg-submit: var(--color-primary-500);
  --fk-color-border-focus: var(--color-primary-500);
  --fk-bg-submit-hover: var(--color-primary-600);
  --fk-color-placeholder: var(--color-stone-400);
}
.formkit-outer + .formkit-messages {
  margin-top: -1.5em;
}
button.formkit-input {
  border-radius: 100px !important;
}
.success button {
  --fk-bg-submit: var(--color-success-400) !important;
  pointer-events: none;
}

.alert button {
  --fk-bg-submit: var(--color-alert-400) !important;
  --fk-bg-submi-hovert: var(--color-alert-500) !important;
}

.formkit-inner {
  /* --fk-border-box-shadow: initial; */
  background-color: var(--color-white);
}

/* .formkit-input[type="*"] input {
	background-color: var(--color-stone-50);
} */